table
{
    max-width: 90%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.header-part
{
    margin-top: 20px;
    display: flex;
}

.btn{
    margin-left: 20px;
}

.toast {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
  }
